Q28. Write a code to get the desired output of the following

string = "Big Data iNeuron"
desired_output = "iNeuron"

In [2]:
str="Big Data iNeuron"
out=str.split()
print(out[2])

iNeuron

Q29. Write a code to get the desired output of the following

string = "Big Data iNeuron"
desired_output = "norueNi"

In [5]:
str="Big Data iNeuron"
split_in=str.split()
out=split_in[2]
out=out[::-1]
print(out)

norueNi

Q33. How can you print the below string?

'iNeuron's Big Data Course'

In [10]:
print("'iNeuron's Big Data Course'")

'iNeuron's Big Data Course'

Q37. Write a code to access the word "iNeuron" from the given list.
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

In [21]:
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
print(lst[4][2])

iNeuron

Q38. Take a list as an input from the user and find the length of the list.

In [22]:
a=input()
print(len(a))

5

Q39. Add the word "Big" in the 3rd index of the given list.
lst = ["Welcome", "to", "Data", "course"]

In [23]:
lst = ["Welcome", "to", "Data", "course"]
lst.insert(2,"Big")
print(lst)

['Welcome', 'to', 'Big', 'Data', 'course']

Q43. Can two tuple be appended. If yes, write a code for it. If not, why?

In [28]:
a=('a','b','c')
b=(1,2,3)
print(a+b)

('a', 'b', 'c', 1, 2, 3)

Q44. Take a tuple as an input and print the count of elements in it.

In [34]:
a=tuple(input().split())
len(a)

7

Q47. Create a set and add "iNeuron" in your set.

In [1]:
a={"I'm","doing","Big","Data",2.0,"Course","from"}
a.add("iNeuron")
print(a)

{'from', "I'm", 2.0, 'doing', 'Course', 'Data', 'iNeuron', 'Big'}

Q48. Try to add multiple values using add() function.

In [13]:
a={"I'm"}
a.add("doing")
b=["doing","Big","Data",2.0,"Course","from","iNeuron"]
for i in b:
    a.add(i)
print(a)
#Note_I_put one duplicate value_ but it was removed in output. Sets only have distinct values.

{"I'm", 2.0, 'doing', 'Data', 'iNeuron', 'Big', 'from', 'Course'}

In [19]:
a={"I'm"}
b={"doing","Big","Data",2.0,"Course","from","iNeuron"}
a.update(b)
print(a)

{"I'm", 'doing', 2.0, 'Data', 'iNeuron', 'Big', 'from', 'Course'}

Q53. What is union() in sets? Explain via code.

In [20]:
A = {'a', 'c', 'd'}
B = {'c', 'd', 2 }
C = {1, 2, 3}

print('A U B =', A.union(B))
print('B U C =', B.union(C))
print('A U B U C =', A.union(B, C))

A U B = {2, 'a', 'd', 'c'}
B U C = {1, 2, 3, 'd', 'c'}
A U B U C = {1, 2, 3, 'a', 'd', 'c'}

Q54. What is intersection() in sets? Explain via code

In [21]:
A = {2, 3, 5, 4}
B = {2, 5, 100}
C = {2, 3, 8, 9, 10}

print(B.intersection(A))
print(B.intersection(C))
print(A.intersection(C))
print(C.intersection(A, B))

{2, 5}
{2}
{2, 3}
{2}

Q58. What will the output of the following?
var = {}
print(type(var))

In [1]:
var = {}
print(type(var))

<class 'dict'>

Q59. How can we add an element in a dictionary?

In [11]:
dic= {
  "a": "1",
  "b": "2",
  "c": "3"
}
dic["d"] = "4"
print(dic)

dic= {
  "a": "1",
  "b": "2",
  "c": "3"
}
dic.update({"d":"4"})
print(dic)

{'a': '1', 'b': '2', 'c': '3', 'd': '4'}
{'a': '1', 'b': '2', 'c': '3', 'd': '4'}

In [15]:
dic={'a': '1', 'b': '2', 'c': '3', 'd': '4'}
x=dic.get("c")
print(x)
x=dic.keys()
print(x)
x=dic.values()
print(x)
x=dic.items()
print(x)

3
dict_keys(['a', 'b', 'c', 'd'])
dict_values(['1', '2', '3', '4'])
dict_items([('a', '1'), ('b', '2'), ('c', '3'), ('d', '4')])

Q61. Create a nested dictionary and access all the element in the inner dictionary.

In [22]:
dic={'A':{'a': '1'},'B':{'b': '2'},'C':{'c': '3'},'D':{'d': '4'}}
x=dic.values()
print(x)
x=dic.get('A')
print(x)
dic.pop("A")
dic.popitem()

dict_values([{'a': '1'}, {'b': '2'}, {'c': '3'}, {'d': '4'}])
{'a': '1'}

('D', {'d': '4'})