Q28. Write a code to get the desired output of the following

string = "Big Data iNeuron"
desired_output = "iNeuron"

In [108]:
str1="Big Data iNeuron"
out=str1.split()
print(out[2])

iNeuron

Q29. Write a code to get the desired output of the following

string = "Big Data iNeuron"
desired_output = "norueNi"

In [109]:
str1="Big Data iNeuron"
split_in=str1.split()
out=split_in[2]
out=out[::-1]
print(out)

norueNi

Q33. How can you print the below string?

'iNeuron's Big Data Course'

In [110]:
print("'iNeuron's Big Data Course'")

'iNeuron's Big Data Course'

Q37. Write a code to access the word "iNeuron" from the given list.
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

In [111]:
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
print(lst[4][2])

iNeuron

Q38. Take a list as an input from the user and find the length of the list.

In [112]:
a=input()
print(len(a))

5

Q39. Add the word "Big" in the 3rd index of the given list.
lst = ["Welcome", "to", "Data", "course"]

In [113]:
lst = ["Welcome", "to", "Data", "course"]
lst.insert(2,"Big")
print(lst)

['Welcome', 'to', 'Big', 'Data', 'course']

Q43. Can two tuple be appended. If yes, write a code for it. If not, why?

In [114]:
a=('a','b','c')
b=(1,2,3)
print(a+b)

('a', 'b', 'c', 1, 2, 3)

Q44. Take a tuple as an input and print the count of elements in it.

In [115]:
a=tuple(input().split())
len(a)

6

Q47. Create a set and add "iNeuron" in your set.

In [116]:
a={"I'm","doing","Big","Data",2.0,"Course","from"}
a.add("iNeuron")
print(a)

{'Data', 'iNeuron', "I'm", 2.0, 'doing', 'Course', 'Big', 'from'}

Q48. Try to add multiple values using add() function.

In [117]:
a={"I'm"}
a.add("doing")
b=["doing","Big","Data",2.0,"Course","from","iNeuron"]
for i in b:
    a.add(i)
print(a)
#Note_I_put one duplicate value_ but it was removed in output. Sets only have distinct values.

{'iNeuron', "I'm", 2.0, 'Data', 'doing', 'Course', 'Big', 'from'}

In [118]:
a={"I'm"}
b={"doing","Big","Data",2.0,"Course","from","iNeuron"}
a.update(b)
print(a)

{'iNeuron', "I'm", 2.0, 'Data', 'doing', 'Course', 'Big', 'from'}

Q53. What is union() in sets? Explain via code.

In [119]:
A = {'a', 'c', 'd'}
B = {'c', 'd', 2 }
C = {1, 2, 3}

print('A U B =', A.union(B))
print('B U C =', B.union(C))
print('A U B U C =', A.union(B, C))

A U B = {'d', 2, 'c', 'a'}
B U C = {'d', 1, 2, 3, 'c'}
A U B U C = {'d', 1, 2, 3, 'c', 'a'}

Q54. What is intersection() in sets? Explain via code

In [120]:
A = {2, 3, 5, 4}
B = {2, 5, 100}
C = {2, 3, 8, 9, 10}

print(B.intersection(A))
print(B.intersection(C))
print(A.intersection(C))
print(C.intersection(A, B))

{2, 5}
{2}
{2, 3}
{2}

Q58. What will the output of the following?
var = {}
print(type(var))

In [121]:
var = {}
print(type(var))

<class 'dict'>

Q59. How can we add an element in a dictionary?

In [122]:
dic= {
  "a": "1",
  "b": "2",
  "c": "3"
}
dic["d"] = "4"
print(dic)

dic= {
  "a": "1",
  "b": "2",
  "c": "3"
}
dic.update({"d":"4"})
print(dic)

{'a': '1', 'b': '2', 'c': '3', 'd': '4'}
{'a': '1', 'b': '2', 'c': '3', 'd': '4'}

In [123]:
dic={'a': '1', 'b': '2', 'c': '3', 'd': '4'}
x=dic.get("c")
print(x)
x=dic.keys()
print(x)
x=dic.values()
print(x)
x=dic.items()
print(x)

3
dict_keys(['a', 'b', 'c', 'd'])
dict_values(['1', '2', '3', '4'])
dict_items([('a', '1'), ('b', '2'), ('c', '3'), ('d', '4')])

Q61. Create a nested dictionary and access all the element in the inner dictionary.

In [124]:
dic={'A':{'a': '1'},'B':{'b': '2'},'C':{'c': '3'},'D':{'d': '4'}}
x=dic.values()
print(x)
x=dic.get('A')
print(x)
dic.pop("A")
dic.popitem()

dict_values([{'a': '1'}, {'b': '2'}, {'c': '3'}, {'d': '4'}])
{'a': '1'}

('D', {'d': '4'})

Q75. How can you loop over a dictionary?

In [125]:
for i in dic:
    print(i)

for i in dic.keys():
    print(i)

for i in dic.values():
    print(i)

for i in dic.items():
    print(i)

for i in dic:
    print(i,dic[i])

B
C
B
C
{'b': '2'}
{'c': '3'}
('B', {'b': '2'})
('C', {'c': '3'})
B {'b': '2'}
C {'c': '3'}

Q76. Write a Python program to find the factorial of a given number.

In [126]:
a=int(input())
b=1
for i in range(a):
    b*=i+1
print(b)

362880

Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (PRT)/100

In [127]:
p=10000
r=5 #rate of interest
t=10 #time in years
print(p*r*t/100)

5000.0

Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.

In [128]:
p=10000
r=5 #rate of interest
t=10 #time in years
print(p*(1+r/100)**t)

16288.94626777442

Q79. Write a Python program to check if a number is prime or not.

In [129]:
a=int(input())
c=True
for i in range(a):
    if (i+1)**2>=a:
        b=i+1
        break
for i in range(b):
    if i==0:
        continue
    if a%(i+1)==0:
        c=False
if c is False:
    print("Not Prime")
else:
    print("Prime")

Prime

Q80. Write a Python program to check Armstrong Number.

In [130]:
a=input()
b=len(a)
d=0
for i in a:
    c=int(i)
    d+=c**b
if int(a)==d:
    print("Armstrong number")
else:
    print("Not an armstrong number")

Armstrong number

Q81. Write a Python program to find the n-th Fibonacci Number.

In [131]:
n=int(input())
a=0
b=1
for i in range(n):
    if i ==0:
        continue
    c=b+a
    b=a
    a=c
print(c)

3

Q82. Write a Python program to interchange the first and last element in a list.

In [132]:
lst=[1,2,3,4,5]
a=lst[0]
lst[0]=lst[-1]
lst[-1]=a
print(lst)

[5, 2, 3, 4, 1]

Q83. Write a Python program to swap two elements in a list.

In [133]:
lst=[1,2,3,4,5]
b,c=input("Enter index of elements to swap:").split()
b=int(b)
c=int(c)
a=lst[b]
lst[b]=lst[c]
lst[c]=a
print(lst)

[1, 3, 2, 4, 5]

Q84. Write a Python program to find N largest element from a list.

In [134]:
lst=[180, 231, 12, 33, 4, 1, 63, 70, 55, 120, 190, 121, 52, 43, 60, 81, 96, 87, 101, 149]
lst.sort(reverse=True)
a=int(input())
for i in range(a):
    print(lst[i])

231
190

Q85. Write a Python program to find cumulative sum of a list.

In [135]:
lst=[180, 231, 12, 33, 4, 1, 63, 70, 55, 120, 190, 121, 52, 43, 60, 81, 96, 87, 101, 149]
a=0
for i in lst:
    a+=i
print(a)

1749

Q86. Write a Python program to check if a string is palindrome or not.

In [136]:
in_str=input()
rev_str=in_str[::-1]
if rev_str == in_str:
    print("Palindrome")
else:
    print("Not palindrome")

Not palindrome

Q87. Write a Python program to remove i'th element from a string.

In [137]:
# in_str=input()
in_str="VenkataPrasadK"
# i=int(input())
i=7
out_str=in_str[:i-1]+in_str[i:]
print(out_str)

VenkatPrasadK

Q88. Write a Python program to check if a substring is present in a given string.

In [138]:
#method1
in_str="VenkataPrasadK"
if "Prasad" in in_str:
    print("Substring")
else:
    print("Not a subsstring")
#mothod 2
if in_str.find("Prasad") >=0:
    print("Substring")
else:
    print("Not a substring")

Substring
Substring

Q89. Write a Python program to find words which are greater than given length k.

In [139]:
in_str="VenkataPrasadK"
k=5
print(in_str[k:])

taPrasadK

Q90. Write a Python program to extract unquie dictionary values.

In [140]:
dic={'Tim': 18,'Charlie':23,'Tiffany':22,'Robert':25,'Venkat':25,'Manohar':22,'Akhill':23}
print(set(dic.values()))

{25, 18, 22, 23}

Q91. Write a Python program to merge two dictionary.

In [141]:
dic={'Tim': 18,'Charlie':23,'Tiffany':22,'Robert':25}
dic1={'Robert':25,'Venkat':25,'Manohar':22,'Akhill':23}
dic.update(dic1)
print(dic)

{'Tim': 18, 'Charlie': 23, 'Tiffany': 22, 'Robert': 25, 'Venkat': 25, 'Manohar': 22, 'Akhill': 23}

Q92. Write a Python program to convert a list of tuples into dictionary.

Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [142]:
in_lst=[('Sachin',10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
dic={}
for i,j in in_lst:
    dic[i]=j
print(dic)

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.

Input: list = [9, 5, 6]
Output: [(9, 729), (5, 125), (6, 216)]

In [143]:
in_lst=[9, 5, 6]
out_lst=[]
for i in in_lst:
    out_lst.append([i,i**3])
print(out_lst)

[[9, 729], [5, 125], [6, 216]]

Q94. Write a Python program to get all combinations of 2 tuples.

Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

In [144]:
test_tuple1 = (7, 2)
test_tuple2 = (7, 8)
out_lst=[]
for i in test_tuple1:
    for j in test_tuple2:
        a=(i,j)
        out_lst.append(a)
for i in test_tuple2:
    for j in test_tuple1:
        a=(i,j)
        out_lst.append(a)  
print(out_lst)

[(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

Q95. Write a Python program to sort a list of tuples by second item.

Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]

In [145]:
in_lst=[('for', 24), ('Geeks', 8), ('Geeks', 30)]
in_lst.sort(key=lambda x:x[1]) 
print(in_lst)

[('Geeks', 8), ('for', 24), ('Geeks', 30)]

Q96. Write a python program to print below pattern.

* 
* * 
* * * 
* * * * 
* * * * *

In [146]:
for i in range(5):
    print((i+1)*"* ")

*
* *
* * *
* * * *
* * * * *

Q97. Write a python program to print below pattern.

    *
   **
  ***
 ****
*****

In [147]:
for i in range(5):
    print((5-i)*" "+(i+1)*"*")

     *
    **
   ***
  ****
 *****

Q98. Write a python program to print below pattern.

    * 
   * * 
  * * * 
 * * * * 
* * * * *

In [148]:
n=5
for i in range(n):
    print((n-i)*" "+(i+1)*"* ")

     *
    * *
   * * *
  * * * *
 * * * * *


Q99. Write a python program to print below pattern.

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [1]:
n=5
for i in range(n):
    a=""
    for j in range(i+1):
        b=j+1
        b=str(b)
        a+=" "+b
    print(a)

 1
 1 2
 1 2 3
 1 2 3 4
 1 2 3 4 5

Q100. Write a python program to print below pattern.

A 
B B 
C C C 
D D D D 
E E E E E

In [2]:
lst=['A','B','C','D','E']
a=0
for i in lst:
    a+=1
    print((a)*i)

A
BB
CCC
DDDD
EEEEE

In [2]:
in_str="Venkat"
del(in_str)